@use "../../functions/toRem" as *;
@use "../../base/variables" as *;

#user-private-tasks-module {
  .archive-panel {
    .actions-card {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-bottom: $main-content-layout-gap-small;

      @media (min-width: $content-breakpoint-tablet) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (min-width: $content-breakpoint-desktop) {
        grid-template-columns: 0.3fr 0.25fr auto;
        margin-bottom: 1.5rem;
      }

      .upt-search-form {
        @media (min-width: $content-breakpoint-desktop) {
          justify-self: end;
          width: 40%;
        }
      }
    }

    .tasks-archive-list {
      display: flex;
      flex-direction: column; 
      transition: all 0.3s ease;
      list-style: none;
    }
  }
}
