@use "../../functions/toRem" as *;
@use "../../base/variables" as *;

#user-private-tasks-module {
  .main-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content; 
    gap: $main-content-layout-gap-small;

    @media (min-width: $content-breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $content-breakpoint-desktop) {
      grid-template-columns: repeat(3, 1fr);
      gap: $main-content-layout-gap; 
    }

    .statistics-card {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      align-items: center;
      justify-content: center; 

      @media (min-width:  $content-breakpoint-phone-large) {
        grid-template-columns: toRem(300) 1fr;  
        gap: 0;
      }

      @media (min-width: $content-breakpoint-tablet) {
        grid-column: span 2;  
      } 

      &-left-content {
        
      }

      .custom-pie-chart {
        flex-direction: column;

        .pie-chart { 
          max-width: toRem(150);
        }

        @media (min-width: $content-breakpoint-tablet) {
           flex-direction: row;

           .pie-chart { 
            max-width: toRem(200);
          }
        }
      }
      
      .green-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .li-title {
          font-size: 1.1rem;
          font-weight: normal;
        }
      }

      &-tasks-number {
        color: var(--blue);
        font-weight: bold;
      } 
    }

    .start-action-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      @media (min-width: $content-breakpoint-tablet) {
        gap: 1.5rem;
      }
    }

    .help-informations-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-title {
        font-size: 1.25rem;
        font-weight: bold;
      } 
    }
    .categories-card {
      @media (min-width: $content-breakpoint-tablet) {
        grid-column: span 2;
      }

      @media (min-width: $content-breakpoint-desktop) {
        grid-column: span 1;
        grid-row: span 1;
        align-self: start;
      }
    }

    .daily-tasks-card,
    .main-tasks-card {
      @media (min-width: $content-breakpoint-tablet) {
        grid-row: span 3;
      }

      .preview-tasks-list {
        list-style: none;
        .task {
          margin-bottom: 0.5rem;
        } 
      }

      .upt-header {
        margin-bottom: $main-content-layout-gap-small;
      }
    }
  }
}
