@use "../base/variables" as *;
@use "../functions/toRem" as *;

#user-private-tasks-module {
  .upt-tast-form {
    $tast-form-breakpoint: 55em;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1.65rem;
    align-items: start;

    @media (min-width: $tast-form-breakpoint) {
      grid-template-columns: repeat(3, 1fr);
    }

    .upt-tast-desc,
    .upt-tast-subtasks-list {
      @media (min-width: $tast-form-breakpoint) {
        grid-column: span 3;
      }
    }

    .upt-tast-form-actions {
      --gap-value: 0.4rem;

      @media (min-width: $content-breakpoint-phone) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      @media (min-width: $tast-form-breakpoint) {
        grid-column: span 3;
        --gap-value: 1rem;
      }

      button {
        width: 100%;
        margin-top: var(--gap-value);
        font-size: 1rem;
      }

      .right-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--gap-value);
      }
    }
  }
}
