@use "../base/variables" as *;
@use "../functions/toRem" as *;

#user-private-tasks-module {
  .upt-task-details {
    max-width: toRem(1050);

    &-stats {
      &-list {
        display: grid;
        grid-template-areas:
          "created-at"
          "category"
          "type"
          "deadline-date"
          "deadline-timer"
          "description";
        padding-top: 1.5rem;
        gap: 0.5rem;

        @media (min-width: $content-breakpoint-tablet-small) {
          grid-template-areas:
            "created-at category"
            "deadline-date type"
            "description description";
        }

        @media (min-width: $content-breakpoint-tablet-large) {
          grid-template-areas:
            "created-at category deadline-timer"
            "deadline-date type deadline-timer"
            "description description description";
          gap: 0.75rem;
        }
      }

      &-created-at {
        grid-area: created-at;
      }

      &-category {
        grid-area: category;
      }

      &-deadline-timer {
        display: flex;
        grid-area: deadline-timer;
        align-items: center;
        justify-content: center;
      }

      &-deadline-date {
        grid-area: deadline-date;
      }

      &-type {
        grid-area: type;
      }

      &-desc {
        grid-area: description;
      }
    }

    &-top-content {
      @media (min-width: $content-breakpoint-tablet-large) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
      }

      &-right {
        --gap: 0.5rem;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--gap);
        padding-top: 1rem;

        & > * {
          flex-basis: calc((100% - (var(--gap) * 2)) / 3);
          flex-grow: 1;
          flex-shrink: 1;
        }

        @media (min-width: $content-breakpoint-tablet-large) {
          padding-top: 0;

          & > * {
            flex: auto;
          }
        }
      }
    }

    &-subtasks {
      padding-top: 1.9rem;
      padding-bottom: 1rem;

      @media (min-width: $content-breakpoint-tablet-small) {
        display: grid;
        grid-template-columns: 1fr toRem(200);
        align-items: start;
        gap: 1rem;
      }

      &-list {
        order: -1;
      }

      &-title {
        grid-column: span 2;
        order: -2;
        padding-bottom: 0.5rem;
        font-weight: bold;

        @media (min-width: $content-breakpoint-tablet-small) {
          padding-bottom: 0;
        }
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      padding-top: 1.85rem;
      gap: 0.5rem;

      .upt-task-details-actions-delete {
        margin-right: auto;
        background-color: var(--red);

        &:hover,
        &:focus,
        &:active {
          background-color: var(--light-red);
        }
      }
    }
  }
}
