@use "../base/variables" as *;
@use "../functions/toRem" as *;

#user-private-tasks-module {
  .upt-add-category {
    max-width: toRem(700);

    &-form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;

      @media (min-width: $content-breakpoint-tablet) {
        grid-template-columns: repeat(2, 1fr);
      }

      &-actions {
        display: flex;
        grid-column: span 2;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
      }
    }
  }
}
