@use "../functions/toRem" as *;
@use "../base/variables" as *;

#user-private-tasks-module {
  .subtasks-list {
    .subtask {
      margin-bottom: 0.5rem;
      padding: 0.2rem 0.85rem;
      border-radius: toRem(10);

      &-name {
        font-size: 1rem;
        font-weight: bold; 
      }

      &-header {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;

        @media (min-width: $content-breakpoint-tablet) {
          .upt-form-control {
            min-width: toRem(275);
          }
        }
      }

      &-actions {
        margin-left: auto;
        gap: 0.5rem;
      }

      &-date {
        font-size: 0.85rem;
      }

      &-action-btn {
        padding: 0.75rem;

        i {
          font-size: 0.85rem;
        }
      }
    }
  }
}
