@use "../functions/toRem" as *;
@use "../base/variables" as *;

#user-private-tasks-module {
  .task-category-list {
    margin-top: 1.5rem;
    padding-block: 1rem;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--green);
    list-style: none;
  }

  .task-category-link {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1.25rem 2rem;
    transition: all 0.4s ease-in-out;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    font-style: normal;
    cursor: pointer;

    &-icon {
      display: block;
      color: inherit;
      font-size: 1.5rem;
      font-style: normal;
    }

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.025);
    }
  }
}
