@use "../functions/toRem" as *;
@use "../base/variables" as *;

#user-private-tasks-module {
  .tasks-archive-list {
    .task-archive {
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-content: flex-start;
      margin-bottom: 0.5rem;
      font-weight: bold;
      gap: 2rem;

      @media (min-width: $content-breakpoint-desktop) {
        margin-bottom: 0.75rem;
        gap: 3.5rem;
      }

      .task-priority {
        width: max-content;
      }

      &-header {
        display: flex;
        flex-direction: column;
      }

      &-name {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        a {
          transition: all 0.3s ease;
  
          &:hover, &:focus {
            color: var(--blue);
          }
        }
      }

      &-actions {
        margin-left: auto;
      }
    }
  }
}
