@use "../../functions/toRem" as *;
@use "../../base/variables" as *;

#user-private-tasks-module-e-szlaki {
  .tasks-panel {
    .actions-card {
      margin-bottom: $main-content-layout-gap-small;

      @media (min-width: $content-breakpoint-desktop) {
        margin-bottom: $main-content-layout-gap;
      }

      &-content-top {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        gap: 1rem;
        
        @media (min-width: $content-breakpoint-tablet) {
          grid-template-columns: 0.65fr 0.35fr;
        }
      }
      &-content-bottom {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        margin-top: 1rem;
        gap: 1rem;

        @media (min-width: $content-breakpoint-tablet) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: $content-breakpoint-tablet-large) {
          grid-template-columns: 0.65fr repeat(2, 0.3fr);
        }
        @media (min-width: $content-breakpoint-desktop-large) {
          grid-template-columns: 0.65fr repeat(2, 0.25fr);
        }

        .add-task-btn {
          @media (min-width: $content-breakpoint-tablet) {
            width: max-content;
          }
        }
      }
    }

    .tasks-cards-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(toRem(400), 1fr));
      gap: $main-content-layout-gap-small;

      @media (min-width: $content-breakpoint-desktop) {
        gap: $main-content-layout-gap;
      }
    }
  }
}
