@use "../../functions/toRem" as *;
@use "../../base/variables" as *;

#user-private-tasks-module-e-szlaki {
  .tasks-panel {
    .actions-card {
      margin-bottom: $main-content-layout-gap-small;

      @media (min-width: $content-breakpoint-desktop) {
        margin-bottom: $main-content-layout-gap;
      }

      &-content-top {
        display: grid;
        grid-template-columns: 0.65fr 0.35fr;
        align-items: center;
      }
      &-content-bottom {
        display: flex;
      }
    }

    .tasks-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(toRem(400), 1fr));
      min-height: toRem(800);
      gap: $main-content-layout-gap-small;

      @media (min-width: $content-breakpoint-desktop) {
        gap: $main-content-layout-gap;
      }
    }
  }
}
