@use "../../functions/toRem" as *;
@use "../../base/variables" as *;

#user-private-tasks-module-e-szlaki {
  .archive-panel {
    .actions-card {
        min-height: toRem(200);
      margin-bottom: $main-content-layout-gap-small;

      @media (min-width: $content-breakpoint-desktop) {
        margin-bottom: $main-content-layout-gap;
      }
    }
    .tasks-archive-list {
      .task-archive {
        margin-bottom: 0.5rem;

        @media (min-width: $content-breakpoint-desktop) {
            margin-bottom: 1rem;
        }
      }
    }
  }
}
