@use "../base/variables" as *;
@use "./main-navigation";

#user-private-tasks-module {
  width: 100%;
  min-height: 90vh;

  .main-content-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $main-content-layout-gap-small;
    min-height: 100%;

    @media (min-width: $content-breakpoint-desktop) {
      gap: $main-content-layout-gap;
    }

    .main-content-wrapper {
      position: relative;
      min-height: 80vh;

      .panel { 
        display: none;
        width: 100%;
        transition: all 0.35s ease-in-out;

        &.active {
          display: grid;
        }
      }
    }
  }
}
