
@use "../base/variables" as *;
@use "./main-navigation";

#user-private-tasks-module-e-szlaki {
    width: 100%;
    
    .main-content-layout {
        display: flex;
        flex-direction: column;
        gap: $main-content-layout-gap-small;
        width: 100%;

        @media (min-width: $content-breakpoint-desktop) {
            gap: $main-content-layout-gap;
        }
    }
}