@use "../functions/toRem";

#user-private-tasks-module-e-szlaki {
  $background: var(--background-green-hover); 
  $select-background: var(--background-green-hover);

  .custom-select {
    display: inline-block;
    position: relative;
    color: inherit;
    height: 100%;
    width: 100%;
    // width: $select-width;
    // height: $select-height;
    // color: #fff;
    // font-size: 16px;
    cursor: pointer;
    padding: 0.5rem 0.75rem;

    &-hidden {
      display: none;
      visibility: hidden;
      padding-right: 10px;
    }

    &-styled {
      display: flex;
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      align-items: center;
      justify-content: space-between;
      // padding: 0.75rem 0.9375rem;
      transition: all 0.2s ease-in;
      // border-radius: 5px;
      // background-color: $select-background;

      // height: 100%;
      // width: 100%;
      // padding: 0.5rem 0.75rem;
      // transition: 0.2s;
      // border-radius: 0.375em;
      // background: inherit;
      // box-shadow: inset 0 0 0 1px hsl(240, 4%, 85%);
      // font-family: inherit;
      // font-size: 1em;
      // line-height: 1.2;

      // &::placeholder {
      //   color: hsl(0, 0%, 50%);
      // }

      // &:focus,
      // &:focus-within {
      //   outline: none;
      //   background: #fff;
      //   box-shadow: inset 0 0 0 1px hsla(240, 4%, 85%, 0),
      //     0 0 0 2px var(--green), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.025),
      //     0 0.9px 1.5px hsla(230, 13%, 9%, 0.05),
      //     0 3.5px 6px hsla(230, 13%, 9%, 0.1);
      // }

      &:after {
        content: "";
        position: absolute;
        top: calc(50% + 3.5px);
        right: 0.9375rem;
        width: 0;
        height: 0;
        transform: translateY(-50%);
        border: 7px solid transparent;
        border-color: #000 transparent transparent transparent;
      }
      &:hover {
        //background-color: var(--background-green);
        background-color: #fff;
      }
      &:active,
      &.active {
        //background-color: var(--background-green);
        background-color: #fff;
        &:after {
          transform: translateY(-50%) rotate(180deg);
          border-color: transparent transparent #000 transparent;
        }
      }
    }

    &-options {
      display: none;
      position: absolute;
      z-index: 999;
      top: 100%;
      right: 0;
      left: 0;
      margin: 0;
      padding: 0;
      //background-color: var(--background-green);
      list-style: none;
      background-color: #fff;

      li {
        margin: 0;
        padding: 12px 0;
        transition: all 0.15s ease-in;
        border-top: 1px solid var(--background-green);
        text-indent: 15px;
        background-color: #fff;

        &:hover,
        &.is-selected {
          background: #fff;
          color: $select-background;
        }
        &[rel="hide"] {
          display: none;
        }
      }
    }
  }
}
