@use "../functions/toRem" as *;

#user-private-tasks-module {
  .custom-countdown {
    $color: var(--blue);
    $color-animation: var(--light-blue-opacity);
    $size: 3.75rem;

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      color: #fff;
      font-size: calc($size / 2);
      font-weight: bold;
      gap: 0.5rem;

      &-data {
        display: inline-flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: $size;
        height: $size;
        border-radius: 10px;
        background-color: var(--blue);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -1.5em;
          left: 50%;
          transform: translateX(-50%);
          color: #000;
          font-size: 0.5em;
        }

        &[data-days]::after {
          content: "dni";
        }
        &[data-hours]::after {
          content: "godz.";
        }
        &[data-minutes]::after {
          content: "min.";
        }
        &[data-seconds]::after {
          content: "sek.";
        } 
      }
    }

    &[data-disabled] {
      position: relative;

      .timer-data {
        position: relative;  

        &::after {
          color: var(--gray);
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          background-color: #ffffffa5;
        }
      }

      
    } 
  }
}
