@use "../base/variables" as *;
@use "../functions/toRem" as *;

#user-private-tasks-module {
  textarea.upt-form-control {
    font-family: inherit;
    resize: vertical;
  }

  .upt-form-control {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    transition: 0.2s;
    border: none;
    background: hsla(0, 0%, 100%, 0.75);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.2;

    &::placeholder {
      opacity: 1;
      color: hsl(0, 0%, 50%);
    }

    &:focus,
    &:focus-within {
      outline: none;
      //background: #fff;
      // box-shadow: inset 0 0 0 1px hsla(240, 4%, 85%, 0), 0 0 0 2px var(--green),
      //   0 0.3px 0.4px hsla(230, 13%, 9%, 0.025),
      //   0 0.9px 1.5px hsla(230, 13%, 9%, 0.05),
      //   0 3.5px 6px hsla(230, 13%, 9%, 0.1);
    }
  }

  .upt-icon {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    color: inherit;
    font-size: 1rem;
    line-height: 1;
  }

  .floating-label-grid {
    display: grid;
    gap: 1rem;
  }

  .floating-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25rem 0.75rem;

    transform: translateY(-50%);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.2s;
    border-radius: 0.375em;
    background: #fff;
    color: hsl(0, 0%, 50%);
    font-size: 0.9375rem;
    line-height: 1;
    -webkit-clip-path: none;
    clip-path: none;
    z-index: 3;
  }

  .floating-label-control {
    padding: 0.75rem;
    background-color: hsla(0, 0%, 100%, 0.75);
  }

  .floating-label-control:placeholder-shown {
    background-color: hsla(0, 0%, 100%, 0.75);
  }

  .floating-label-control:placeholder-shown + .floating-label {
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    transform: translateY(-25%);
  }

  .floating-label-control ~ .upt-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: hsl(225, 4%, 47%);
    pointer-events: none;
  }

  .floating-label-control:focus {
    background-color: #fff;
  }
  .floating-label-control:focus ~ .upt-icon {
    color: var(--green);
  }
  .floating-label-control:focus + .floating-label {
    color: var(--green);
  }
  .upt-form-field {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: toRem(3);
      border-radius: 100vw;
      background-color: var(--green-opacity);
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0%;
      left: 0;
      transition: 0.3s ease-in-out;
      bottom: 0;
      border-radius: 100vw;
      height: toRem(3);
      background-color: var(--green);
      z-index: 4;
    }

    &:focus-within {
      &::after {
        width: 100%;
      }
    }
  }
}
