@use "../base/variables" as *;

%modern-card {
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 25px;
  background: var(--background);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#user-private-tasks-module-e-szlaki { 
  .modern-card {
    @extend %modern-card;

    @media (min-width: $content-breakpoint-tablet) {
      padding: 2rem;
    }

    &--opacity {
      background-color: transparent;
      backdrop-filter: blur(2px);
    }
  }
}
