@use "../base/variables" as *;

%modern-card {
  width: 100%;
  padding: 1rem 0.85rem;
  border-radius: 20px;
  background: var(--background);
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;

  @media (min-width: $content-breakpoint-phone) {
    padding: 1rem;
  }
  
}
#user-private-tasks-module { 
  .modern-card, &.modern-card {
    @extend %modern-card;

    @media (min-width: $content-breakpoint-tablet) {
      padding: 1.5rem;
    }

    @media (min-width: $content-breakpoint-desktop-large) {
      padding-inline: 2rem;
    }

    &--opacity {
      background-color: #ffffffc7;
    }

    &--info {
      display: inline-flex;
      align-items: center;
      padding-block: 1.35rem;
      border: dashed var(--light-blue) 3px;
      font-size: 1rem;
      font-weight: bold; 
      gap: 0.75rem;
      
      i {
        color: var(--blue);
        font-size: 1.75rem;
      }

      b {
        color: var(--blue);
      }
    }
  }
}
