#user-private-tasks-module-e-szlaki {
  .sidebar-menu {
    position: relative;
    color: var(--font-color);

    .menu-tab {
      input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:focus {
          & ~ .menu-tab-label {
            background-color: var(--light-green);
          }
        }
      }
    }

    .menu-tab-content {
      z-index: 2;
      max-height: 0;
      overflow: hidden;
      transition: all 0.6s;
      background-color: var(--blue);
      color: #fff;

      .sidebar-sub-menu {
        .menu-tab-label {
          background-color: transparent;

          &:hover, &:focus, &:active, &.active {
            background-color: var(--light-blue);
          }
        }
      }
    }
    .menu-tab input:checked ~ .menu-tab-content {
      /* jeśli wysuwany kontent się nie mieści to zwiększ maksymalną wysokość */
      max-height: 20rem;
    }

    .menu-tab-label,
    .menu-tab-close {
      display: flex;
      position: relative;
      z-index: 3;
      align-items: center;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      cursor: pointer;

      * {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
        transition: all 0.4s ease-in-out;
      }

      &:hover::before,
      &:focus::before,
      &:active::before {
        transform: translateX(-30%);
      }
    }

    .menu-tab-label {
      justify-content: center;
      padding: 1.25rem 2rem;
      transition: 0.3s;

      .menu-tab-icon {
        display: block;
        color: inherit;
        font-size: 1.5rem;
      }

      &:hover,
      &:focus,
      &:active {
        transform: scale(1.025);
      }
    }

    .menu-tab-close {
      justify-content: flex-end;
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
    }
  }
}
