$content-breakpoint-desktop-large: 103.125em;
$content-breakpoint-desktop: 85em;
$content-breakpoint-tablet: 55em;
$content-breakpoint-phone-large: 40em;
$main-content-layout-gap: 2rem;
$main-content-layout-gap-small: 1rem;