$content-breakpoint-desktop-large: 103.125em; // 1650px
$content-breakpoint-desktop: 85em; // 1360px
$content-breakpoint-desktop-small: 72em; // 1152px
$content-breakpoint-tablet-large: 65em; // 1040px
$content-breakpoint-tablet: 55em; // 880px
$content-breakpoint-phone-large: 40em; // 640px
$main-content-layout-gap: 2rem; // 32px
$main-content-layout-gap-small: 1rem; // 16px